!/.gitignore

# ROOT dir only
# Blacklist all hidden folders or files
/.*
/FreeRTOS_TAD_logs

# Project roots only
# Blacklist hidden files and folders
# but not MCUXpresso project files.
/Ejemplos/*/.*
!/Ejemplos/*/.cproject
!/Ejemplos/*/.project

/Libreria_LPC845/.*
!/Libreria_LPC845/.cproject
!/Libreria_LPC845/.project

# Project roots only
/Ejemplos/*/*.launch
/Ejemplos/*/*.xml
!/Ejemplos/*/doxygen_layout.xml

/Libreria_LPC845/*.launch
/Libreria_LPC845/*.xml
!/Libreria_LPC845/doxygen_layout.xml

# Project 'Debug' folders only
# Blacklist everything
/Ejemplos/*/Debug

/Libreria_LPC845/Debug

# Lib documentation folder only
/Libreria_LPC845/doc
/Libreria_LPC845/user_doc
